{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'IMAGES/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Russian.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Armenian.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JS -->
    {% block import %}
    {% endblock %}
    <title>Title</title>
</head>
<body>
    {% include 'main/navbar.html' %}

    <div class="main">
        {% block content %}
        {% endblock %}

        <footer class="footer-all">
          <div class="footer-flex">
            <a href="index.html" class="codenyx-logo-img" data-image-width="309" data-image-height="44" title="Codenyx" alt="Logo">
              <img loading="lazy" src="{% static 'IMAGES/sevivra.svg' %}" class="codenyx-logo-img-image-1 footer-logo" alt="Logo">
            </a>
            <p class="beta-text">Beta test: Version №1</p>
            <div class="icon-footer">
              <a href="https://github.com/Erik-Egnatosyan" class="icon-github"></a>
              <a href="#" class="icon-gmail"></a>
              <a href="#" class="icon-telegram"></a>
              <a href="#" class="icon-instagram"></a>
            </div>
          </div>
        </footer>
    </div>

    {% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script class="AJAX-SEARCH">
    $('#search').on('keyup', function(a) {
        let csrftoken = '{{ csrf_token }}'
        $.ajax({
            type: 'POST',
            headers: {"X-CSRFToken": csrftoken},
            url: "{% url 'main:Search' %}",
            dataType: 'json',
            data: {'input': $('#search').val()},
            success: function(response) {
                console.log(response)
            },
        });
    });
</script>
    <script src="{% static 'JS/styleswitch.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'JS/styleswitch.js' %}"></script>
    <script defer rel="dns-prefetch" type="module" src="https://unpkg.com/@google/model-viewer@2.0.2"></script>
    <script type="module" src="https://unpkg.com/dark-mode-toggle@0.14.2/dist/dark-mode-toggle.min.mjs"></script>
<!--    <link rel="stylesheet" href="{% static 'CSS/dark.css' %}" media="(prefers-color-scheme: dark)">-->
    {% endblock %}
</body>
</html>