{% extends 'main/base.html' %}
{% block content %}
    <section class="u-clearfix u-image u-section-1" id="sec-f515" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-sheet-1"><model-viewer loading="lazy" camera-orbit="90deg 90deg" poster="/images/html-logo-ref.webp" src="/source/3d-html-metalic.glb" auto-rotate disable-zoom environment-image="/source/hdr4k60fpsSnow.hdr" shadow-intensity="1" alt="An invalid model" class="html-3d-model"></model-viewer>
    </section>
    <section class="u-clearfix u-white u-section-2" id="sec-ad57">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-sheet-1">
        <span class="Russian">
          <h2 class="u-text u-text-default u-text-1 rus-shrift">Базовые теги HTML</h2>
        </span>
        <span class="Armenian">
          <h2 class="u-text u-text-default u-text-1 arm-shrift">Հիմնական HTML թեգեր</h2>
        </span>
          <a href="Html-Alphabet.html"><img src="https://cdn-icons-png.flaticon.com/512/6680/6680284.png" alt="change button" class="img-change"></a>
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
          {% for i in tags %}
            {% if i.typeRus == 'Базовые теги HTML' %}
            <div class="u-border-1 u-border-palette-5-dark-2 u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-container-layout-10">
                <a href="p.html" class="u-align-center u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-custom-item u-none u-text-custom-color-1 u-btn-10">{{ i }}</a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
        <div class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
        <span class="Russian">
          <h2 class="u-text u-text-default u-text-2 rus-shrift">Форматирование</h2>
        </span>
        <span class="Armenian">
          <h2 class="u-text u-text-default u-text-2 arm-shrift">Ֆորմատավորում</h2>
        </span>
        <div class="u-list u-list-2">
          <div class="u-repeater u-repeater-2">
            {% for i in tags %}
              {% if i.typeRus == 'Форматирование' %}
              <div class="u-border-1 u-border-palette-5-dark-2 u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round">
                <div class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-11">
                  <a href="blockquote.html" class="u-align-center u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-custom-color-1 u-btn-11">{{ i }}</a>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-2"></div>
        <span class="Russian">
          <h2 class="u-text u-text-default u-text-3 rus-shrift">Аудио, видео и изображения</h2>
        </span>
        <span class="Armenian">
          <h2 class="u-text u-text-default u-text-3 arm-shrift">Աուդիո, տեսանյութ և պատկերներ</h2>
        </span>
        <div class="u-list u-list-3">
          <div class="u-repeater u-repeater-3">
            {% for i in tags %}
              {% if i.typeRus == 'Аудио, видео и изображения' %}
              <div class="u-border-1 u-border-palette-5-dark-2 u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round">
                <div class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-44">
                  <a href="figcaption.html" class="u-align-center u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-custom-color-1 u-btn-44">{{ i }}</a>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-3"></div>
        <span class="Russian">
          <h2 class="u-text u-text-default u-text-4 rus-shrift">Ссылки</h2>
        </span>
        <span class="Armenian">
          <h2 class="u-text u-text-default u-text-4 arm-shrift">Հղումներ</h2>
        </span>
        <div class="u-list u-list-4">
          <div class="u-repeater u-repeater-4">
            {% for i in tags %}
              {% if i.typeRus == 'Ссылки' %}
              <div class="u-border-1 u-border-palette-5-dark-2 u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round">
                <div class="u-container-layout u-similar-container u-container-layout-56">
                  <a href="link.html" class="u-align-center u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-custom-color-1 u-btn-56">{{ i }}</a>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-4"></div>
        <span class="Russian">
          <h2 class="u-text u-text-default u-text-5 rus-shrift">Формы, фреймы и ввод</h2>
        </span>
        <span class="Armenian">
          <h2 class="u-text u-text-default u-text-5 arm-shrift">Ձևաթղթեր, փրեյմեր և մուտքագրում</h2>
        </span>
        <div class="u-list u-list-5">
          <div class="u-repeater u-repeater-5">
            {% for i in tags %}
              {% if i.typeRus == 'Формы, фреймы и ввод' %}
              <div class="u-border-1 u-border-palette-5-dark-2 u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round">
                <div class="u-container-layout u-similar-container u-container-layout-59">
                  <a href="optgroup.html" class="u-align-center u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-custom-color-1 u-btn-59">{{ i }}</a>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-5"></div>
        <span class="Russian">
          <h2 class="u-text u-text-default u-text-7 rus-shrift">Таблицы и списки</h2>
        </span>
        <span class="Armenian">
          <h2 class="u-text u-text-default u-text-7 arm-shrift">Աղյուսակներ և ցուցակներ</h2>
        </span>
        <div class="u-list u-list-6">
          <div class="u-repeater u-repeater-6">
          {% for i in tags %}
            {% if i.typeRus == 'Таблицы и списки' %}
              <div class="u-border-1 u-border-palette-5-dark-2 u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round">
                <div class="u-container-layout u-similar-container u-container-layout-72">
                  <a href="colgroup.html" class="u-align-center u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-custom-color-1 u-btn-72">{{ i }}</a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
        <div class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-6"></div>
        <span class="Russian">
          <h2 class="u-text u-text-default u-text-7 rus-shrift">Стили и семантика</h2>
        </span>
        <span class="Armenian">
          <h2 class="u-text u-text-default u-text-7 arm-shrift">Ոճեր և սեմանտիկա</h2>
        </span>
        <div class="u-list u-list-7">
          <div class="u-repeater u-repeater-7">
          {% for i in tags %}
            {% if i.typeRus == 'Стили и семантика' %}
              <div class="u-border-1 u-border-palette-5-dark-2 u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round">
                <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-88">
                  <a href="summary.html" class="u-align-center u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-custom-color-1 u-btn-88">{{ i }}</a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
        <div class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-7"></div>
        <span class="Russian">
          <h2 class="u-text u-text-default u-text-8 rus-shrift">Мета теги</h2>
        </span>
        <span class="Armenian">
          <h2 class="u-text u-text-default u-text-8 arm-shrift">Մետա թեգեր</h2>
        </span>
        <div class="u-list u-list-8">
          <div class="u-repeater u-repeater-8">
            {% for i in tags %}
              {% if i.typeRus == 'Мета теги' %}
              <div class="u-border-1 u-border-palette-5-dark-2 u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round">
                <div class="u-container-layout u-similar-container u-container-layout-102">
                  <a href="meta.html" class="u-align-center u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-custom-color-1 u-btn-102">&lt;meta&gt;</a>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="u-border-3 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-8"></div>
        <span class="Russian">
          <h2 class="u-text u-text-default u-text-9 rus-shrift">Программирование</h2>
        </span>
        <span class="Armenian">
          <h2 class="u-text u-text-default u-text-9 arm-shrift">Ծրագրավորում</h2>
        </span>
        <div class="u-list u-list-9">
          <div class="u-repeater u-repeater-9">
            {% for i in tags %}
              {% if i.typeRus == 'Программирование' %}
              <div class="u-border-1 u-border-palette-5-dark-2 u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round">
                <div class="u-container-layout u-similar-container u-container-layout-104">
                  <a href="noscript.html" class="u-align-center u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-none u-text-custom-color-1 u-btn-104">{{ i }}</a>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </body>
{% endblock %}
  {% block script %}
    <script defer rel="dns-prefetch" type="module" src="https://unpkg.com/@google/model-viewer@2.0.2"></script>
  {% endblock %}
</html>