{% extends 'main/base.html' %}

{% load static %}

{% block content %}
    <section class="video-block-cat size-block-video">  
      <div class="video-position">
        <div class="embed-responsive">
          <div class="container"><?xml version="1.0" encoding="UTF-8"?>
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 790 360">
              <g id="bongo-cat">
                <g class="headness">
                  <path id="head-color" d="M280.4,221l383.8,62.6a171.4,171.4,0,0,0-9.2-40.5,174,174,0,0,0-28.7-50.5,163.3,163.3,0,0,0,3.2-73.8c-11.6-1.9-42,14.2-44.5,17.5-19.6-24-88.5-52.7-153.7-48.1A78.8,78.8,0,0,0,398,67.1c-9.8,2.9-19,29.7-19.4,33.7a320,320,0,0,0-31.7,23.6c-14,11.8-28.9,24.4-42.5,44.3A173,173,0,0,0,280.4,221Z"></path>
                  <g id="ptukner">
                    <path class="cls-2" d="M418,131.23c-3.58-1.9-4.65-6.44-5.3-10.43-.31-1.9-.43-4.26,1.19-5.31,1.79-1.17,4.11.3,5.67,1.78,2.66,2.52,5.29,6,4.36,9.52a5.84,5.84,0,0,1-7,4Z"></path>
                    <path class="cls-2" d="M429,111.88a4.5,4.5,0,0,1-.27-3.68,4.09,4.09,0,0,1,2.07-1.79,5.3,5.3,0,0,1,2.58-.58,3.87,3.87,0,0,1,3.31,4.66c-.29,1.05-2.6,6.06-3.44,6.26C431.44,117.18,429.49,113.12,429,111.88Z"></path>
                    <path class="cls-2" d="M410.91,103.29c.75-.22,1.72-.25,2.15.4a2,2,0,0,1,.27.91c.23,1.79.34,3.84-.9,5.14A4.83,4.83,0,0,1,410,111C402.18,112.77,406.31,104.63,410.91,103.29Z"></path>
                    <path class="cls-2" d="M420.29,97a4.14,4.14,0,0,1,2.18-3.42,6.64,6.64,0,0,1,2.66-.47,2.58,2.58,0,0,1,1.41.21,2.18,2.18,0,0,1,.76.91c1.32,2.57.95,7.24-2,8.68C422.16,104.38,420.09,99.45,420.29,97Z"></path>
                    <path class="cls-2" d="M446.87,147.1c4.05.19,7.28-3.15,9.89-6.25,1.24-1.47,2.54-3.44,1.69-5.17-.94-1.92-3.69-1.85-5.78-1.37-3.58.81-7.6,2.42-8.62,5.94a5.84,5.84,0,0,0,4,7Z"></path>
                    <path class="cls-2" d="M458.11,121.93a4.5,4.5,0,0,0,2.12-3,4.15,4.15,0,0,0-.86-2.6,5.26,5.26,0,0,0-1.93-1.82,3.86,3.86,0,0,0-5.22,2.32c-.29,1-.87,6.53-.25,7.13C453.27,125.21,457,122.72,458.11,121.93Z"></path>
                    <path class="cls-2" d="M475.65,124c-.53-.58-1.35-1.1-2-.76a1.92,1.92,0,0,0-.69.64c-1.12,1.42-2.26,3.12-1.86,4.88a4.74,4.74,0,0,0,1.46,2.31C478.3,136.63,478.92,127.52,475.65,124Z"></path>
                    <path class="cls-2" d="M473.83,112.57a4.16,4.16,0,0,0-.12-4,6.86,6.86,0,0,0-2-1.77,2.58,2.58,0,0,0-1.33-.54,2.2,2.2,0,0,0-1.11.4c-2.45,1.52-4.52,5.73-2.71,8.48S472.72,114.82,473.83,112.57Z"></path>
                    <path class="cls-2" d="M433.55,149.29a11.53,11.53,0,0,1,4.14,2.33,5.07,5.07,0,0,1,1.66,4.29,5.22,5.22,0,0,1-3,3.65c-3.06,1.52-6.72.82-10,0a31.49,31.49,0,0,1-8.06-3c-4.13-2.41-7.41-7.29-.84-8.78C422.6,146.6,428.64,147.51,433.55,149.29Z"></path>
                    <path class="cls-2" d="M434.88,125.6c.35-2.21,1.18-4.56,3.12-5.67a7.4,7.4,0,0,1,4.32-.66,4.07,4.07,0,0,1,2.62,1,3.52,3.52,0,0,1,.8,1.53c.94,3.26-.17,6.84-2.17,9.58-1.5,2-5.53,7-7.77,4.73C433.9,134.1,434.5,128,434.88,125.6Z"></path>
                  </g>
                  <g id="glaz">
                    <path class="cls-3" d="M652.49,239.37c-8.27-3.34-16.23-6.34-23.92-9.06-26.34-10.25-55-20.86-74.41-25.9-29.57-7.67-54.11-10.26-55.86-10.82-.28,0-4.22-.48-4.46-.42-2.37.87-1.24,6.92-3.35,7.86-1.64.74-4-.34-5.22-1.89-.46-.56-1.61-1.9-1.13-3.39.8-2.44,3-4.07,4-5.73a14.84,14.84,0,0,0,1.45-5.19c.11-.77.43-2.55.58-4.49C537.62,183,590.88,197.52,639.61,213Z"></path>
                    <path class="cls-30" d="M489.85,181.36c0,9.69-6.67,17.55-14.91,17.55S460,191.05,460,181.36s6.68-17.56,14.91-17.56S489.85,171.66,489.85,181.36Z"></path>
                    <path class="cls-4" d="M484,182c0,7.2-4.58,13-10.22,13s-10.23-5.84-10.23-13,4.58-13,10.23-13S484,174.77,484,182Z"></path>
                    <ellipse class="cls-3" cx="467.84" cy="184.04" rx="3.68" ry="4.6"></ellipse>
                    <path class="cls-5" d="M489.18,175.39a13.26,13.26,0,0,1,1,4.73c-.15,2-.49,3.91-.6,4.71a14.84,14.84,0,0,1-1.45,5.19c-1,1.66-3.18,3.29-4,5.73-.48,1.49.67,2.83,1.13,3.39,1.24,1.55,3.58,2.63,5.22,1.89,2.11-.94,1-7,3.35-7.86.24-.06,4.18.44,4.46.42,1.75.56,26.29,3.15,55.86,10.82,25.59,6.64,67.24,23,98.49,35.38"></path>
                    <path class="cls-5" d="M490.17,180.12c49.48,2.3,118.64,22.53,149.52,33"></path>
                  </g>
                  <g id="glaz">
                    <path class="cls-3" d="M358,163.21c0,1.72.11,3.32.27,5.61.1,1.39-1.16,2.28-1.69,2.69-1.39,1.07-3.65,1.47-4.9.49-1.61-1.26.47-4.42-1.38-5.67a4,4,0,0,0-.61-.33c-1.33-.56-3.49-.62-8.87-1.17-4.2-.41-21.69,0-32.77.31,2.41-3,7.89-9.53,8-9.63a102.2,102.2,0,0,1,16.12-.25c6.38.23,21.25,1.7,27.6,2.66-.25.51-.46,1-.59,1.3A12.56,12.56,0,0,0,358,163.21Z"></path>
                    <path class="cls-30" d="M385.16,165.44c0,8.94-6.15,16.19-13.74,16.19s-13.75-7.25-13.75-16.19,6.16-16.18,13.75-16.18S385.16,156.5,385.16,165.44Z"></path>
                    <path class="cls-4" d="M379.8,166c0,6.64-4.22,12-9.43,12s-9.43-5.38-9.43-12,4.22-12,9.43-12S379.8,159.37,379.8,166Z"></path>
                    <path class="cls-5" d="M362.23,153.66c-1,1.58-1.87,3.09-2.46,4.26-.25.51-.46,1-.59,1.3a12.56,12.56,0,0,0-1.18,4c0,1.72.11,3.32.27,5.61.1,1.39-1.16,2.28-1.69,2.69-1.39,1.07-3.65,1.47-4.9.49-1.61-1.26.47-4.42-1.38-5.67a4,4,0,0,0-.61-.33c-1.33-.56-3.49-.62-8.87-1.17-4.2-.41-21.4,0-32.49.35"></path>
                    <ellipse class="cls-3" cx="365.2" cy="167.84" rx="3.27" ry="4.08"></ellipse>
                    <path class="cls-5" d="M316.38,155c14.89-1.12,32.67,1.07,43.93,2.48"></path>
                  </g>
                  <path id="gubi" d="M396.6,178.6c.4.9,2.7,6.5,8.5,8.4s13.4-1.2,17.2-7.9c-.9,7.5,3.8,14.3,10.4,16a14.4,14.4,0,0,0,15-5.7"></path>
                  <g class="headphone headphone-right">
                    <g class="speaker">
                      <path d="M400.7,80.2c-14.1-20.8-40.2.3-50.7,15-8.7,12.2-9.7,30.3,2.8,37.3,5.4-9,11.8-15.6,21-26.2A214.1,214.1,0,0,1,400.7,80.2Z"></path>
                      <path d="M381.5,79.4c-6.6-7.5-9.6-5.8-12.3-5.5-16.3,1.3-32,20.3-27.8,33.9a21.8,21.8,0,0,0,5.9,8.5c1.7-2.6,3.5-5.1,5.4-7.7A150.7,150.7,0,0,1,381.5,79.4Z"></path>
                      <path d="M367.3,77.8a13.1,13.1,0,0,0-5.1-1.8c-8.5-.9-18.7,7.5-18.4,16.1a12.8,12.8,0,0,0,2.6,7c3.1-3.3,6.3-6.8,9.6-10.2S363.6,81.3,367.3,77.8Z"></path>
                    </g>
                    <path class="band" d="M515,40.6c-15.9-4.6-57-14.1-104,2.3a166.9,166.9,0,0,0-60.9,37.3"></path>
                  </g>
                </g>
                <g class="table">
                  <polygon points="25.3 158.5 783.2 293 513 354.9 25.3 158.5"></polygon>
                  <line x1="25.3" y1="158.5" x2="783.2" y2="293" fill="none" stroke="#8d00fc" stroke-miterlimit="10" stroke-width="4"></line>
                  <line x1="783.2" y1="293" x2="25.3" y2="158.5" fill="none"></line>
                </g>
                <g id="laptop">
                  <polygon class="laptop-base" points="103.2 263.6 258.9 219.3 636.5 294.4 452.1 339 103.2 263.6"></polygon>
                  <g class="laptop-keyboard">
                    <polygon points="369.6 265.6 255.3 244.3 255.5 243.5 264.7 241.9 380.9 262.3 380.8 263.1 369.6 265.6"></polygon>
                    <polygon points="235.9 256.4 219.8 253.2 219.9 252.5 228.7 251 245.3 253.4 245.1 254.2 235.9 256.4"></polygon>
                    <polygon points="473.1 303.7 248.4 258.9 248.6 258.1 257.7 256.6 486.2 300.4 486 301.3 473.1 303.7"></polygon>
                    <polygon points="410.3 300.2 202.7 257.5 202.9 256.8 211.4 255.3 422.4 297.1 422.2 298 410.3 300.2"></polygon>
                    <polygon points="448.5 308.1 427 303.7 427.3 302.8 439.2 301.4 461.2 304.9 461 305.8 448.5 308.1"></polygon>
                    <polygon points="200.1 264.7 186 261.7 186.2 261 194.5 259.5 208.9 261.8 208.8 262.5 200.1 264.7"></polygon>
                    <polygon points="221.1 269.1 206.6 266.1 206.8 265.3 215.4 263.9 230.3 266.2 230.1 267 221.1 269.1"></polygon>
                    <polygon points="361.4 298.9 230 271 230.2 270.3 239.2 268.9 372.7 295.9 372.5 296.7 361.4 298.9"></polygon>
                    <polygon points="442.8 279.2 383.7 268.2 383.9 267.3 395.1 265.7 455.4 275.9 455.2 276.7 442.8 279.2"></polygon>
                    <polygon points="524.6 294.4 458.6 282.1 458.8 281.2 471.3 279.7 538.6 291 538.4 291.9 524.6 294.4"></polygon>
                    <polygon points="424.7 312.4 374.6 301.7 374.8 300.9 385.9 299.5 437 309.3 436.8 310.2 424.7 312.4"></polygon>
                    <polygon points="409.1 277.3 397.6 278.8 397.4 279.6 498.4 299.1 511.8 296.7 512 295.8 409.1 277.3"></polygon>
                    <polygon points="394.2 274.5 394.4 273.6 246.7 246.5 237.7 248.1 237.5 248.8 382.8 276.8 394.2 274.5"></polygon>
                  </g>
                  <g id="paw-right">
                    <g id="paw-right--down">
                      <path d="M289.1,181.7c-12.1,9.8-20.6,20.7-20.7,32.1-.2,9,3.8,20.4,13.3,25.2s20.1.6,29.6-3.4c13.4-5.7,23.9-14.6,29.4-21.5"></path>
                    </g>
                    <g id="paw-right--up">
                      <g>
                        <path d="M327.3,170c-.4-1.4-6.3-18.8-23.5-23.5-.8-.2-18.6-4.7-28.9,6.3-8.4,9.1-6,22.5-4.6,30.2a54.3,54.3,0,0,0,8.1,19.9"></path>
                        <g class="pads">
                          <path d="M297.2,154.8c1-.5,2.7-.1,3,.6s-1.4,2.4-2.6,2.1a1.6,1.6,0,0,1-1.1-1.2A1.6,1.6,0,0,1,297.2,154.8Z"></path>
                          <path d="M285.8,159.4c.3-.4,1-1.1,1.7-.8s.9,1.4.8,2.2-1.8,2.1-2.5,1.5S285.2,160.4,285.8,159.4Z"></path>
                          <path d="M276.9,171c.5-.4,2.7-.3,3.2.6s-.6,1.8-1.4,1.8S276.2,171.6,276.9,171Z"></path>
                          <path d="M296.4,168.6c2.3-.9,6.4,6.3,7.6,9s-5.2,4.5-7.4,6-5.1-6.1-5.9-8.3S293.7,169.8,296.4,168.6Z"></path>
                        </g>
                      </g>
                      <use width="31.4" height="33.93" transform="translate(273.2 166.1) rotate(-5.6)"></use>
                    </g>
                  </g>
                  <g id="laptop__terminal">
                    <polygon points="318 234 150 201 108 70 277 86 318 234"/>
              <path id="lapt-top" d="M106.39,68.76,277,85l43,151L149,202,106.39,68.76"></path>
                  </g>
                  <g id="laptop__terminal_code_scene">
                    <g id="laptop__code">
                      <g stroke="#3DE0E8" stroke-width="6" transform="matrix(-1 0 0 1 278 103)">
                        <g id="f3" transform="translate(0 76)">
                          <path class="typing-animation" id="f3-l9" d="M8,25L8,25" stroke-dasharray="60,10"></path>
                          <path class="typing-animation" id="f3-l8" d="M8,13L8,13" stroke-dasharray="50,10"></path>
                          <path class="typing-animation" id="f3-l7" d="M0,1L0,1" stroke-dasharray="25,10"></path>
                        </g>
                        <g id="f2" transform="translate(0 38)">
                          <path class="typing-animation" id="f2-l6" d="M8,25L8,25" stroke-dasharray="40,10"></path>
                          <path class="typing-animation" id="f2-l5" d="M8,13L8,13" stroke-dasharray="60,10"></path>
                          <path class="typing-animation" id="f2-l4" d="M0,1L0,1" stroke-dasharray="30,10"></path>
                        </g>
                        <g id="f1">
                          <path class="typing-animation" id="f1-l3" d="M8,25L8,25" stroke-dasharray="60,10"></path>
                          <path class="typing-animation" id="f1-l2" d="M8,13L8,13" stroke-dasharray="60,10"></path>
                          <path class="typing-animation" id="f1-l1" d="M0,1L0,1" stroke-dasharray="60,10"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                  <polygon class="laptop-cover" points="103.2 263.6 452.1 339 360.8 12.4 2 2 103.2 263.6"></polygon>
                </g>
              </g>
              <g id="paw-left">
                <g id="paw-left--up">
                  <g>
                    <path d="M586.6,208.8c-.6-2.3-4.2-15.6-17.2-22.2-2.7-1.3-12.8-6.4-23.6-1.8s-14.6,16.5-14.8,18.4c-1.2,9-.7,18.4,2.4,26.1,2.4,6,7.5,17.2,9.7,20.2"></path>
                    <g class="pads">
                      <path d="M561.4,194.9a2.7,2.7,0,0,1,3,.5c.4,1-1.4,2.4-2.6,2.2a1.5,1.5,0,0,1-1.1-1.3A1.2,1.2,0,0,1,561.4,194.9Z"></path>
                      <path d="M550.7,200.4c.4-.5,1.1-1.1,1.7-.8a2,2,0,0,1,.8,2.2c-.3,1.2-1.8,2-2.5,1.5S550.1,201.3,550.7,200.4Z"></path>
                      <path d="M541.1,211.1c.5-.4,2.7-.4,3.2.5s-.6,1.8-1.5,1.9S540.4,211.6,541.1,211.1Z"></path>
                      <ellipse id="smaller" cx="560.1" cy="215.94" rx="7.57" ry="8.57" transform="translate(-12.58 395.9) rotate(-38.53)"></ellipse>
                    </g>
                  </g>
                  <use width="31.4" height="33.93" transform="matrix(0.99, -0.03, 0.04, 1, 539.85, 203.52)"></use>
                </g>
                <g id="paw-left--down">
                  <path d="M534.1,231.4c-19.7,6-32.9,18.4-34.2,29.1a30.1,30.1,0,0,0,1.7,14.1,24.8,24.8,0,0,0,6.1,8.8c6,5.1,16.8,4,38-3.9a288.7,288.7,0,0,0,46.5-22.1"></path>
                </g>
              </g>
              <g class="headphone headphone-left">
                <g class="speaker">
                  <path id="first-l" d="M609.5,137.3c-17.1,6.3-20.7,51.4-4.5,67.3,1.4,1.5,5.5,5.5,11.3,5.9,8.2.5,14.5-6.3,16.9-8.9,10.1-11,11.5-27.5,8.1-40.1-1.4-4.8-3.9-14-12.7-19.9C627.4,140.8,617.7,134.3,609.5,137.3Z"></path>
                  <path id="second-l" d="M626.5,196.1c2.7-.4,5.9-2.6,9.3-6,6.6-6.6,6.8-16.6,5.8-24s-4.2-16.1-11.3-19.7a18.7,18.7,0,0,0-10.9-1.9C614,149.3,615.3,192.6,626.5,196.1Z"></path>
                  <path id="third-l" d="M631.6,151c-4.5,3.3-.5,27.1,3.8,28.2s6.9-6.6,6.2-13.1S637.4,153.5,631.6,151Z"></path>
                </g>
                <path class="band" d="M638.9,157.7c-4-16.8-25.9-61.9-75.3-95.3A155.5,155.5,0,0,0,515,40.6"></path>
              </g>
            </svg>
            </div>
        </div>
      </div>
      <div class="block-to-center main-all-important-block">
        <span class="Russian">
          <h1 class="flexable-text-block text-block-size-h1 spec-position rus-shrift">Хочешь научиться создавать сайты,<br> чтобы было просто и на понятном языке?</h1>
        </span>
        <span class="Armenian">
          <h1 class="flexable-text-block text-block-size-h1 spec-position arm-shrift">Ցանկանու՞մ եք սովորել, թե ինչպես ստեղծել<br> կայքեր պարզ և հասկանալի լեզվով?</h1>
        </span>
        <span class="Russian">
          <a href="practice.html" style="color: white;"><h2 class="h2-main-text">Начать обучение</h2></a>
        </span>
        <span class="Armenian">
          <a href="practice.html" style="color: white;"><h2 class="h2-main-text arm-shrift">Սկսել սովորել</h2></a>
        </span>
      </div></section>
      <div class="position-center-block block-to-center">
        <span class="Russian">
          <div class="main-3-blocks">
            <div class="main-block"><img class="main-img" src="/images/maze-easy.png" alt=""><h2 class="rus-shrift">Простота</h2><p>Никакой лишний информации. У нас написано всё кратко и понятно. Мы ценим ваше время</p></div>
            <div class="main-block"><img class="main-img" src="/images/speed-icon.png" alt=""><h2 class="rus-shrift">Удобный поисковик</h2><p>Удобный поисковик Находите все нужные теги или свойства, быстро и просто через поисковик</p></div>
            <div class="main-block"><img class="main-img" src="/images/language-icon.png" alt=""><h2 class="rus-shrift">Многоязычность</h2><p>Можно посмотреть информацию на Русском языке или же в Армянской версии, с ручным переводом.</p></div>
          </div>
        </span>
        <span class="Armenian">
          <div class="main-3-blocks">
            <div class="main-block"><img class="main-img" src="/images/maze-easy.png" alt=""><h2 class="arm-shrift">Պարզություն</h2><p class="arm-min-shrift">Ավելնորդ տեղեկություններ չկան: Ամեն ինչ գրված է հակիրճ ու հասկանալի։ Մենք գնահատում ենք ձեր ժամանակը</p></div>
            <div class="main-block"><img class="main-img" src="/images/speed-icon.png" alt=""><h2 class="arm-shrift">Հարմարավետ որոնում</h2><p class="arm-min-shrift">Գտեք ձեզ անհրաժեշտ բոլոր թեգերը կամ հատկությունները որոնման համակարգի միջոցով` հեշտ և արագ</p></div>
            <div class="main-block"><img class="main-img" src="/images/language-icon.png" alt=""><h2 class="arm-shrift">Բազմալեզու</h2><p class="arm-min-shrift">Դուք կարող եք դիտել տեղեկատվությունը ռուսերեն և հայերեն, լեզվով հասկանալի թարգմանությամբ</p></div>
          </div>
        </span>
        <div class="main-2-model-block">
          <div class="model-block model-block-color1"><model-viewer loading="lazy" disable-tap disable-pan camera-orbit="90deg 90deg" poster="/images/html-logo.webp" src="/source/html-3d.glb" camera-controls auto-rotate disable-zoom environment-image="/source/hdr4k60fps.hdr" shadow-intensity="1" alt="An invalid model" class="modell-viewer"></model-viewer><a href="Html-Category.html"><div class="model-btn button-size-model"><span>Перейти</span></div></a></div>
          <div class="model-block model-block-color2"><model-viewer loading="lazy" disable-tap disable-pan camera-orbit="90deg 90deg" poster="/images/css-logo.webp" src="/source/css-3d.glb" camera-controls auto-rotate disable-zoom environment-image="/source/hdr4k60fps.hdr" shadow-intensity="1" alt="An invalid model" class="modell-viewer"></model-viewer><a href="Css.html"><div class="model-btn button-size-model"><span>Перейти</span></div></a></div>
          <div class="model-block model-block-color3"><model-viewer loading="lazy" disable-tap disable-pan camera-orbit="90deg 90deg" poster="/images/css-logo.webp" src="/source/js2.glb" camera-controls auto-rotate disable-zoom environment-image="/source/hdr4k60fps.hdr" shadow-intensity="1" alt="An invalid model" class="modell-viewer"></model-viewer><a href="404.html"><div class="model-btn button-size-model"><span>Перейти</span></div></a></div>
        </div>
        <div class="our-team-block">
          <div class="text-block"><div class="text-align-team">
            <div class="shape-left-top"></div>
                  <span class="Russian">
                    <h2 class="rus-shrift margin-team-top">Про нашу команду</h2>
                  </span>
                  <span class="Armenian">
                    <h2 class="arm-shrift margin-team-top">Մեր թիմի մասին</h2>
                  </span>
                  <span class="Russian">
                    <p> Над созданием данного сайта работали: <br> <i><b>Эрик Эгнатосян</b></i>: Разработчик и Ведущий программист<br> <i><b>Эрик Налбандян</b></i>: Редактор и Переводчик<br> <i><b>Сурен Папазян</b></i>: 3D-2D дизайнер и Разработчик игр <br> <i><b>Александр Туманян</b></i>: Разработчик и Тестировщик <br> <i><b>Артём Симонян</b></i>: Переводчик и Помощь в разработке </p>
                  </span>
                  <span class="Armenian">
                    <p> Այս կայքի ստեղծման վրա աշխատել են: <br> <i><b>Էրիկ Էգնատոսյան</b></i>՝ Ծրագրավորող և Թիմի առաջնորդ<br> <i><b>Էրիկ Նալբանդյան</b></i>՝ Խմբագիր և Թարգմանիչ<br> <i><b>Սուրեն Փափազյան</b></i>՝ 3D-2D Դիզայներ և Խաղերի ստեղծող <br> <i><b>Ալեքսանդր Թումանյան</b></i>՝ Ծրագրավորող և Թեստավորող <br> <i><b>Արտյոմ Սիմոնյան</b></i>՝ Թարգմանիչ և Զարգացման աջակցում </p>
                  </span>
                  <div class="shape-right-bottom"></div>
                </div></div>
          <div class="img-block-team team-wrok-img"></div>
        </div>
        <span class="Russian">
          <h2 class="rus-shrift h2-text-center"><span class="h2-second-icon"></span>&nbsp;Наши партнеры&nbsp;<span class="h2-second-icon"></span> </h2>
        </span>
        <span class="Armenian">
          <h2 class="arm-shrift h2-text-center"><span class="h2-second-icon"></span>&nbsp;Մեր գործընկերները&nbsp;<span class="h2-second-icon"></span></h2>
        </span>
        <div class="company-images company-img">
          <div class="img-block"><img src="/images/Company.png" alt="compny-img"></div>
          <div class="img-block"><img src="/images/Company.png" alt="compny-img"></div>
          <div class="img-block"><img src="/images/Company.png" alt="compny-img"></div>
          <div class="img-block"><img src="/images/Company.png" alt="compny-img"></div>
        </div>
        <span class="Russian">
          <h2 class="rus-shrift h2-text-center">Если хотите сотрудничать либо нашли ошибку на сайте. Пишите нам!&nbsp;&nbsp;<span class="icon-h2-contact"></h2>
        </span>
        <span class="Armenian">
          <h2 class="arm-shrift h2-text-center">Եթե ​​ցանկանում եք համագործակցել կամ սխալ եք գտել կայքում։ Գրեք մեզ!&nbsp;&nbsp;<span class="icon-h2-contact"></span></h2>
        </span>
        <section>
          <form action="https://formspree.io/f/mbjqwode" method="POST" class="form-flex-main">
            <div>
              <input type="text" placeholder="Name" name="name" required="text" class="form-size">
            </div>
            <div>
              <input type="email" placeholder="Email" name="email" required="email" class="form-size">
            </div>
            <div>
              <input placeholder="Введите Ваше сообщение" name="message" required="required" type="text" class="form-size">
            </div>
            <div>
              <button type="submit" class="submit-btn">Submit</button>
            </div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </section>
      </div>
    </section>
{% endblock %}