{% extends 'main/base.html' %}

{% load static %}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
  <head>
    {% block import %}
      <meta name="keywords" content="">
      <meta name="description" content="Codenyx - это сайт для обучения по созданию сайтов с интересным способам обучения. На сайте присутствует справочник по всем современным тегам с примерами.">
      <meta name="author" content="Erik Egnatosyan">
      <title>Практика</title>
      <link rel="stylesheet" href="{% static 'CSS/Home.css' %}" media="screen">
      <link rel="stylesheet" href="{% static 'CSS/special.css' %}" media="screen">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.8/typed.min.js"></script>
    {% endblock %}
  </head>
  {% block content %}

    <script type="module" src="https://unpkg.com/dark-mode-toggle@0.14.2/dist/dark-mode-toggle.min.mjs"></script>
  <section class="u-clearfix u-image u-section-1" id="sec-d92a" data-image-width="1980" data-image-height="700" style="background-image: url({% static 'IMAGES/wave-haikei25.svg' %})">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1">
      <img class="u-image u-image-default u-image-1" src="{% static 'IMAGES/eroi varik.svg' %}" alt="" data-image-width="766" data-image-height="595">
      <div id="typed-strings">
        <span class="Russian">
          <h1 class="u-align-left u-custom-font u-text u-text-1 rus-shrift" > Настоящий программист тот - <span id="typed1"></span><br></h1>
        </span>
        <span class="Armenian">
          <h1 class="u-align-left u-custom-font u-text u-text-1 arm-shrift" > Իսկական ծրագրավորողը նա է - <span id="typed2"></span><br></h1>
        </span>
    </div>
      <script>
        new Typed('#typed1',{
    strings : ['кто вечно прогрессирует!',
                'кто любит учиться!',
                'кто не сдаётся быстро!'],
    typeSpeed : 60,
    delaySpeed : 60,
    startDelay: 800,
    backDelay: 800,
    backSpeed: 30,
    loop : true
  });
      </script>
      <script>
        new Typed('#typed2',{
    strings : ['ով միշտ առաջադիմում է!',
                'ով սիրում է սովորել!',
                'ով արագ չի հանձնվում!'],
    typeSpeed : 60,
    delaySpeed : 60,
    startDelay: 800,
    backDelay: 800,
    backSpeed: 30,
    loop : true
  });
      </script>
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="carousel_06bb">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-expanded-width-sm u-expanded-width-xs u-gradient u-radius-50 u-shape u-shape-round u-shape-1"></div>
      <div class="u-align-left u-container-style u-group u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <span class="Russian">
            <h2 class="u-custom-font u-text u-text-1  ">Путь Создания Вашей Первой Веб Страницы</h2>
            <p class="u-text u-text-2"> Чтобы научиться создавать сайты, нужно понимать как они работают и за что отвечает каждая деталь. Тут простым и интерактивным способом будет объяснено, как создавать страницы, подключать их и открыть на live сервере.</p>
          </span>
          <span class="Armenian">
            <h2 class="u-custom-font u-text u-text-1 arm-shrift">Ձեր առաջին վեբ էջը ստեղծելու ճանապարհը</h2>
            <p class="u-text u-text-2 arm-min-shrift"> Որպեսզի սովորեք, թե ինչպես ստեղծել կայքեր, դուք պետք է հասկանաք, թե ինչպես են դրանք աշխատում և ինչի համար է պատասխանատու յուրաքանչյուր մանրուք: Այստեղ պարզ և ինտերակտիվ եղանակով կբացատրվի, թե ինչպես կարելի է ստեղծել էջեր, միացնել դրանք և բացել դրանք live սերվերի վրա։</p>
          </span>
        </div>
      </div>
      <div class="container">
        <div style="background-image: url({% static 'IMAGES/setting.png' %});" class="Div1 u-image"><a href="#"><div class="practice_block"><p class="text_practice_block">Установка и настройка программы</p></div></a></div>
        <div style="background-image: url({% static 'IMAGES/create.png' %});" class="Div2 u-image"><a href="#"><div class="practice_block"><p class="text_practice_block">Основные теги HTML и CSS</p></div></a></div>
        <div style="background-image: url({% static 'IMAGES/button-image.png' %});" class="Div3 u-image"><a href="#"><div class="practice_block"><p class="text_practice_block">Добавление кнопок, ссылок и таблиц </p></div></a></div>
        <div style="background-image: url({% static 'IMAGES/photo.png' %});" class="Div4 u-image"><a href="#"><div class="practice_block"><p class="text_practice_block">Добавление фото, видео и аудио</p></div></a></div>
        <div style="background-image: url({% static 'IMAGES/learn.png' %});" class="Div5 u-image"><a href="#"><div class="practice_block"><p class="text_practice_block">Структура web страницы</p></div></a></div>
        <div style="background-image: url({% static 'IMAGES/position.png' %});" class="Div6 u-image"><a href="#"><div class="practice_block"><p class="text_practice_block">Позиционирование <br> Основы grid и flex</p></div></a></div>
        <div style="background-image: url({% static 'IMAGES/insert.png' %});" class="Div7 u-image"><a href="#"><div class="practice_block"><p class="text_practice_block">Адаптация сайта под мобильные устройства</p></div></a></div>
        <div style="background-image: url({% static 'IMAGES/speed.png' %});" class="Div8 u-image"><a href="#"><div class="practice_block"><p class="text_practice_block">Оптимизация сайта</p></div></a></div>
        <div style="background-image: url({% static 'IMAGES/test-exam.png' %});" class="Div9 u-image-end"><a href="#"><div class="practice_block"><p class="text_practice_block">Создание макета сайта</p></div></a></div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-3" id="carousel_197b">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-col">
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                  <div class="u-container-layout u-valign-middle u-container-layout-1" style="border-radius: 50px;">
                    <span class="Russian">
                      <h3 class="u-custom-font u-font-montserrat u-text u-text-1">Также попробуйте самим собрать макет сайта</h3>
                      <p class="u-text u-text-grey-40 u-text-2">У каждого макета своя сложность создания. Попробуйте самим собрать макет чтобы они были схожи.</p>
                    </span>
                    <span class="Armenian">
                      <h3 class="u-custom-font u-font-montserrat u-text u-text-1">Փորձեք նաև ինքներդ հավաքել մակետ</h3>
                      <p class="u-text u-text-grey-40 u-text-2">Յուրաքանչյուր մակետ ունի ստեղծման իր բարդությունը: Փորձեք ինքներդ հավաքել մակետը այնպես, որ դրանք նման լինեն:</p>
                    </span>
                  </div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" style="border-radius: 50px;">
                  <div class="u-container-layout u-container-layout-2"></div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-size-30 u-image-2" style="border-radius: 50px;">
                  <div class="u-container-layout u-container-layout-3"></div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-size-30 u-image-3" style="border-radius: 50px;">
                  <div class="u-container-layout u-container-layout-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}

  {% block script %}
  <script>
    (function(d,t) {
      var BASE_URL="https://app.chatwoot.com";
      var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=BASE_URL+"/packs/js/sdk.js";
      g.defer = true;
      g.async = true;
      s.parentNode.insertBefore(g,s);
      g.onload=function(){
        window.chatwootSDK.run({
          websiteToken: 'ohof5JHmARjg63zw9V3SmNax',
          baseUrl: BASE_URL
        })
      }
    })(document,"script");
  </script>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap" rel="stylesheet">
  {% endblock %}
</html>