{% extends 'main/base.html' %}

{% block content %}
<div class="register-div">
    <div class="wrapper">
        <form method="post">
            {% csrf_token %}
            <div class="form-errors">{{ form.non_field_errors }}</div>

            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-input">{{f.errors}}</div>
            {% endfor %}
            <p>Already registered? <a href="{% url 'main:Login' %}">Login</a></p>
            <button type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}