{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="showtag">
    <div class="wrapper">
        <button class="tag-button">{{tag}}</button>
        <div class="text">
            {{tag.descriptionRus | safe}}
        </div>
        <hr>
        <h3>Синтаксис</h3>
        <div class="tag-syntax">
            <script class="language-html line-numbers">{{tag.syntax | safe}}</script>
        </div>
        <hr>
        <h3>Пример</h3>
        <div>{{tag.example | safe}}</div>
    </div>
</div>
{% endblock %}