.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 214px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 60px;
  text-align: center;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 213px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    text-align: center;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2009px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: 64px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 315px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  background-image: none;
  margin: 17px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 19px 9px 0;
}

.u-section-2 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 11px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  color: rgb(71, 138, 201) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  background-image: none;
  margin: 17px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 19px 9px 0;
}

.u-section-2 .u-icon-4 {
  color: rgb(17, 17, 17) !important;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 11px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  color: rgb(71, 138, 201) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  background-image: none;
  margin: 17px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 19px 9px 0;
}

.u-section-2 .u-icon-6 {
  color: rgb(17, 17, 17) !important;
  background-image: none;
}

.u-section-2 .u-list-2 {
  width: 936px;
  margin: 64px auto 0;
}

.u-section-2 .u-repeater-2 {
  grid-gap: 20px 20px;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  min-height: 579px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 384px;
  height: 384px;
  margin: 17px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(-185deg, #478ac9, #2cccc4);
  text-transform: none;
  margin: 52px auto 0;
  padding: 23px 104px 24px 103px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 384px;
  height: 384px;
  margin: 17px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(-185deg, #478ac9, #2cccc4);
  text-transform: none;
  margin: 52px auto 0;
  padding: 23px 104px 24px 103px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 64px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 390px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 209px;
  height: 141px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: -55px auto 0;
}

.u-section-2 .u-text-8 {
  width: 460px;
  margin: 36px auto 0;
}

.u-section-2 .u-icon-7 {
  color: rgb(17, 17, 17) !important;
  font-size: 1.0626em;
}

.u-section-2 .u-shape-2 {
  width: 209px;
  height: 141px;
  margin: -50px 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 390px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 300px;
  height: 300px;
  background-image: url("/images/team-work-photo-01.svg");
  background-position: 50% 50%;
  margin: 15px auto 0;
}

.u-section-2 .u-text-9 {
  width: 500px;
  margin: 64px auto 0;
}

.u-section-2 .u-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-icon-9 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-list-3 {
  grid-template-rows: auto;
  margin-top: 35px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-3 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 111px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  width: 1050px;
  margin: 64px auto 0;
}

.u-section-2 .u-icon-10 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-form-1 {
  margin-top: 35px;
  margin-bottom: 35px;
  height: 77px;
}

.u-section-2 .u-input-1 {
  font-weight: 400;
}

.u-section-2 .u-input-2 {
  font-weight: 400;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-input-3 {
  font-weight: 400;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1987px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 260px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-2 {
    width: 800px;
  }

  .u-section-2 .u-repeater-2 {
    grid-gap: 43px 43px;
    grid-template-columns: calc(50% - 21.5px) calc(50% - 21.5px);
  }

  .u-section-2 .u-image-1 {
    margin-left: -6px;
    margin-right: -6px;
  }

  .u-section-2 .u-image-2 {
    margin-left: -6px;
    margin-right: -6px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-2 .u-text-8 {
    width: 454px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 92px;
  }
  .u-section-2 .u-text-10 {
    width: 790px;
    margin: 64px auto 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2728px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 313px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 17px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 17px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 17px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-list-2 {
    width: 520px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 1099px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 28px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 28px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-8 {
    width: 348px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 247px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 282px;
  }
  .u-section-2 .u-text-10 {
    width: 655px;
    margin: 64px auto 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4050px;
  }

  .u-section-2 .u-list-1 {
    width: 418px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 664px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-form-1 {
    margin-bottom: -317px;
  }
  .u-section-2 .u-text-10 {
    width: 520px;
    margin: 64px auto 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2473px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 27px 27px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 37px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -7px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 226px;
  }

  .u-section-2 .u-text-9 {
    width: 340px;
  }

  .u-section-2 .u-image-4 {
    height: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-5 {
    height: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-6 {
    height: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-7 {
    height: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-10 {
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    margin-bottom: 43px;
  }
  .u-section-2 .u-text-10 {
    width: 290px;
    margin: 64px auto 0;
  }
}