body, header{
    background: rgb(44,47,51);
    background: linear-gradient(180deg, rgba(44,47,51) 0%, #040021 100%);
}
body{
    background-color: #040021!important;
}
.u-white{
    background-color: #040021;
    color: azure;
}
.u-border-palette-5-light-111, .u-border-palette-5-light-222{
    border-color: #9afdfc;
    box-shadow: 4px 4px 20px 1px #0ff;
}
.u-border-palette-5-dark-111, .u-border-palette-5-dark-222, .u-border-palette-5-dark-333{
    border-color: #9afdfc;
    box-shadow: 3px 3px 15px 0.5px #0ff;
}
.u-border-grey-80{
    border-color: #9afdfc;
}
.u-border-grey-30{
    border-color: #9afdfc;
    box-shadow: 3px 3px 15px 0.5px #0ff;
}
.u-border-palette-5-dark-2{
    border-color: #FFA500;
    box-shadow: 0px 5px 15px 0.5px #FF8C00;
}
.u-border-grey-dark-1155{
    border-color: #9afdfc;
    box-shadow: 0px 0px 15px 0.5px #0ff;
}
.u-text-grey-80 svg{
    fill: white;
}
.u-border-grey-dark-1{
    border-color: #FFA500;
    box-shadow: 0px 0px 15px 0.5px #FF8C00;
}
.u-border-grey-dark-13{
    border-color: #9afdfc;
    box-shadow: 0px 0px 15px 0.5px #0ff;
}
.u-border-grey-1012{
    border-color: #9afdfc;
    box-shadow: 0px 0px 15px 0.5px #0ff;
}
:not(.u-effect-fade)>.u-opacity-30,
.u-opacity-30:before {
    opacity: 1;
}
.u-palette-1-light-3{
    background-color: #202224;
}
.u-text-palette-4-base{
    color: #ff00dd;
}
.u-border-grey-10{
    border-color: #FFA500;
    box-shadow: 0px 0px 15px 0.5px #FF8C00;
}
.u-palette-1-light-3{
    color: white;
}
.u-text-palette-1-base{
    color: #00ffff;
}
.code-aqua{
    stroke:white;
}
.nyx-aqua{
    stroke: aqua;
}
#progressbar{
    background: rgb(255,0,0);
    background: -moz-radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(17,17,17,0) 100%);
    background: -webkit-radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(17,17,17,0) 100%);
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(17,17,17,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#111111",GradientType=1);
}
.input-search::placeholder {
    color: white;
}
.input-search {
    color: white;
}
.btn-search:focus ~ .input-search {
    color: white;
}
.u-border-grey-75{
    border-color: #9afdfc;
    box-shadow: 0px 5px 15px 0.5px #0ff;
}
.u-text-black svg{
    fill: white;
}
.search-input input{
    box-shadow: 0px 0px 15px 1px #0ff; 
}
.wrapper .search-input{
    box-shadow: 0px 0px 15px 1px #0ff;
}
.example{
    background: rgb(44,47,51);
    border: thick double #FFA500;
    box-shadow: 0px 0px 20px 3px #FF8C00;
}
.example2{
    background: rgb(44,47,51);
    border: thick double #00e1ff;
    box-shadow: 0px 0px 20px 3px #0ff;
}
.table-browser-support .table-foot .table-cell{
    background: rgb(44,47,51);
}
.table-browser-support .table-body .table-header, .table-browser-support .table-foot .table-header{
    background: rgb(44,47,51);
}
.table-browser-support .table-cell[data-support="yes"] {
    background: #0e9524;
  }
  .table-browser-support .table-cell[data-support="no"] {
    background: #d61629;
  }
  .table-browser-support .table-cell[data-support="partial"] {
    background: #d68710;
  }
  code{
    background-color: #00869b;
  }
  .menu-wrap .hamburger > div{
      background-color: white;
  }
  section#button-container .buttonss.v19 .label{
      color: white;
  }
  section#button-container .buttonss.v19 .icon2{
    background: rgb(0, 122, 116);
  }
  .glow-on-hover {
    border: 1px inset #FFA500;
    color: #fff;
    background: #111;
}
.glow-on-hover:after {
    background: #111;
}
.glow-on-hover2 {
    border: 1px inset #00fffc;
    color: #fff;
    background: #111;
}
.glow-on-hover2:after {
    background: #111;
}
.u-text-palette-5-base{
    color: rgb(27, 236, 161)!important;
}
#rangeValue1{
	background-color: #202224;
	color: aqua;
}
.firstBlock, .border-top-left-radius1, .border-top-right-radius1, .border-bottom-right-radius1, .border-bottom-left-radius1{
    border: 1px solid red;
    background-color: rgb(54, 54, 54);
}
.secondBlock{
    border: 1px solid rgb(0, 255, 255); 
}
.thirdBlock{
	border: 1px solid rgb(255, 0, 255); 
}
.raise:hover, .raise:focus {
	border-color: aqua;
	color: aqua;
}
.raise {
	border: 2px solid aqua;
    color: white;
}
.u-section-1 .u-text-1 , .u-section-2 .u-text-1, .u-section-2 .u-text-2, .u-section-3 .u-text-1, .u-section-3 .u-text-2{
    color: white;
}
.u-section-3 .u-container-layout-1{
    background: linear-gradient(144deg, #000000, #000000);
    box-shadow: 20px 20px 60px #14c6e27a, -20px -20px 60px #0fbad479;
}
.u-section-3 .u-image-1{
    box-shadow: inset -2px -2px 20px #86ef8a, inset 2px 2px 20px #8ff6ca;
}
.u-section-3 .u-image-2{
    box-shadow: inset -2px -2px 20px #689afa, inset 2px 2px 20px #81dad4;
}
.u-section-3 .u-image-3{
    box-shadow: inset -2px -2px 20px #dd5792, inset 2px 2px 20px #df726e;
}
.u-section-1 .u-text-2 {
    color: white;

}
.kbd-key {
    background: #333;
    color: #fcfcfc;
    border: 1px solid #111;
    box-shadow: 0 3px 0 #999;
  }
  
.kbd-key:hover {
    box-shadow: 0 1px 0 #999;
    background: #232323;
}
.kbd-plus{
    color: white;
}
.ul-bck-wht{
    color: white;
}
.button-language{
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    border: 2px solid #328ccd;
}
.header-compiler{
    background: linear-gradient(180deg, rgba(44,47,51) 0%, #002451 100%);
}
ul:not(.u-unstyled) {
    color: white;
}
#question{
    color: white;
}
.btn-answer {
    background-color: #5a00d1!important;
    border: 1px solid #2a02f2!important;
}
#laptop__terminal, .table, .laptop-base, .speaker, .laptop-keyboard{
    fill: #040021!important;
}
 .h1-color-main{
    color: white!important;
 }
 .company-img{
    filter: invert(1);
 }
 .button-animation{
    color: white!important;
    background-color: #00095e!important;
 }
 ol{
    color: white;
 }