@font-face{
  font-family:Arm-shrift;
  src:url(/source/Arm-shrift.TTF);
  font-display:swap
}
@font-face{
  font-family:SHK-Light;
  src:url(/source/SHK-Light.otf);
  font-display:swap
}
@font-face{
  font-family:wiguru-13;
  src:url(/source/wiguru-13.ttf);
  font-display:swap
}
.arm-shrift{
  font-family:Arm-shrift!important
}
.arm-min-shrift{
  font-family:SHK-Light;
  font-weight:900
}
.rus-shrift{
  font-family:wiguru-13!important
}
.u-section-1{
  background-image:url(images/oooscillate.svg);
  background-position:50% 50%
}
.u-section-1 .u-sheet-1{
  min-height:742px
}
@media (max-width:1199px){
  .u-section-1 .u-sheet-1{
      min-height:612px
  }
}
@media (max-width:991px){
  .u-section-1 .u-sheet-1{
      min-height:469px
  }
}
@media (max-width:767px){
  .u-section-1 .u-sheet-1{
      min-height:352px
  }
}
@media (max-width:575px){
  .u-section-1 .u-sheet-1{
      min-height:222px
  }
}
.u-section-2{
  background-image:none
}
.u-section-2 .u-sheet-1{
  min-height:3496px
}
.u-section-2 .u-text-1{
  margin:20px auto 0 0
}
.u-section-2 .u-menu-1{
  margin:-38px 15px 0 auto
}
.u-section-2 .u-nav-1{
  font-weight:400;
  font-style:italic
}
.u-section-2 .u-nav-2{
  box-shadow:2px 2px 8px 0 rgba(128,128,128,1)
}
.u-section-2 .u-nav-3{
  font-size:1.25rem
}
.u-section-2 .u-nav-4{
  box-shadow:2px 2px 8px 0 rgba(128,128,128,1)
}
.u-section-2 .u-list-1{
  margin-top:35px;
  margin-bottom:0;
  width:1140px
}
.u-section-2 .u-repeater-1{
  min-height:179px;
  grid-template-columns:calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px);
  grid-gap:31px 31px
}
.u-section-2 .u-container-layout-1{
  padding:0
}
.u-section-2 .u-btn-1{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-2{
  padding:0
}
.u-section-2 .u-btn-2{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-3{
  padding:0
}
.u-section-2 .u-btn-3{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-4{
  padding:0
}
.u-section-2 .u-btn-4{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-5{
  padding:0
}
.u-section-2 .u-btn-5{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-6{
  padding:0
}
.u-section-2 .u-btn-6{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-7{
  padding:0
}
.u-section-2 .u-btn-7{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-8{
  padding:0
}
.u-section-2 .u-btn-8{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-9{
  padding:0
}
.u-section-2 .u-btn-9{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-10{
  padding:0
}
.u-section-2 .u-btn-10{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-line-1{
  height:3px;
  margin-bottom:0;
  margin-top:64px;
  transform-origin:left center 0;
  border-style:dashed
}
.u-section-2 .u-text-2{
  margin:35px auto 0 0
}
.u-section-2 .u-list-2{
  margin-top:35px;
  margin-bottom:0;
  width:1140px
}
.u-section-2 .u-repeater-2{
  min-height:704px;
  grid-template-columns:calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px);
  grid-gap:31px 31px
}
.u-section-2 .u-container-layout-11{
  padding:0
}
.u-section-2 .u-btn-11{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-12{
  padding:0
}
.u-section-2 .u-btn-12{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-13{
  padding:0
}
.u-section-2 .u-btn-13{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-14{
  padding:0
}
.u-section-2 .u-btn-14{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-15{
  padding:0
}
.u-section-2 .u-btn-15{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-16{
  padding:0
}
.u-section-2 .u-btn-16{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-17{
  padding:0
}
.u-section-2 .u-btn-17{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-18{
  padding:0
}
.u-section-2 .u-btn-18{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-19{
  padding:0
}
.u-section-2 .u-btn-19{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-20{
  padding:0
}
.u-section-2 .u-btn-20{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-21{
  padding:0
}
.u-section-2 .u-btn-21{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-22{
  padding:0
}
.u-section-2 .u-btn-22{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-23{
  padding:0
}
.u-section-2 .u-btn-23{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-24{
  padding:0
}
.u-section-2 .u-btn-24{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-25{
  padding:0
}
.u-section-2 .u-btn-25{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-26{
  padding:0
}
.u-section-2 .u-btn-26{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-27{
  padding:0
}
.u-section-2 .u-btn-27{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-28{
  padding:0
}
.u-section-2 .u-btn-28{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-29{
  padding:0
}
.u-section-2 .u-btn-29{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-30{
  padding:0
}
.u-section-2 .u-btn-30{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-31{
  padding:0
}
.u-section-2 .u-btn-31{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-32{
  padding:0
}
.u-section-2 .u-btn-32{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-33{
  padding:0
}
.u-section-2 .u-btn-33{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-34{
  padding:0
}
.u-section-2 .u-btn-34{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-35{
  padding:0
}
.u-section-2 .u-btn-35{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-36{
  padding:0
}
.u-section-2 .u-btn-36{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-37{
  padding:0
}
.u-section-2 .u-btn-37{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-38{
  padding:0
}
.u-section-2 .u-btn-38{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-39{
  padding:0
}
.u-section-2 .u-btn-39{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-40{
  padding:0
}
.u-section-2 .u-btn-40{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-41{
  padding:0
}
.u-section-2 .u-btn-41{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-42{
  padding:0
}
.u-section-2 .u-btn-42{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-43{
  padding:0
}
.u-section-2 .u-btn-43{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-line-2{
  height:3px;
  transform-origin:left center 0;
  border-style:dashed;
  margin-top:64px;
  margin-bottom:0
}
.u-section-2 .u-text-3{
  margin:35px auto 0 0
}
.u-section-2 .u-list-3{
  margin-top:35px;
  margin-bottom:0;
  width:1140px
}
.u-section-2 .u-repeater-3{
  min-height:284px;
  grid-template-columns:calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px);
  grid-gap:31px 31px
}
.u-section-2 .u-container-layout-44{
  padding:0
}
.u-section-2 .u-btn-44{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-45{
  padding:0
}
.u-section-2 .u-btn-45{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-46{
  padding:0
}
.u-section-2 .u-btn-46{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-47{
  padding:0
}
.u-section-2 .u-btn-47{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-48{
  padding:0
}
.u-section-2 .u-btn-48{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-49{
  padding:0
}
.u-section-2 .u-btn-49{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-50{
  padding:0
}
.u-section-2 .u-btn-50{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-51{
  padding:0
}
.u-section-2 .u-btn-51{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-52{
  padding:0
}
.u-section-2 .u-btn-52{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-53{
  padding:0
}
.u-section-2 .u-btn-53{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-54{
  padding:0
}
.u-section-2 .u-btn-54{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-55{
  padding:0
}
.u-section-2 .u-btn-55{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-line-3{
  height:3px;
  transform-origin:left center 0;
  border-style:dashed;
  margin-top:64px;
  margin-bottom:0
}
.u-section-2 .u-text-4{
  margin:35px auto 0 0
}
.u-section-2 .u-list-4{
  width:671px;
  margin:35px auto 0 0
}
.u-section-2 .u-repeater-4{
  min-height:74px;
  grid-template-columns:calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px);
  grid-gap:31px 31px
}
.u-section-2 .u-container-layout-56{
  padding:0
}
.u-section-2 .u-btn-56{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-57{
  padding:0
}
.u-section-2 .u-btn-57{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-58{
  padding:0
}
.u-section-2 .u-btn-58{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-line-4{
  height:3px;
  transform-origin:left center 0;
  border-style:dashed;
  margin-top:64px;
  margin-bottom:0
}
.u-section-2 .u-text-5{
  margin:35px auto 0 0
}
.u-section-2 .u-list-5{
  margin-left:0;
  margin-top:35px;
  margin-bottom:0;
  width:1140px
}
.u-section-2 .u-repeater-5{
  min-height:284px;
  grid-template-columns:calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px);
  grid-gap:31px 31px
}
.u-section-2 .u-container-layout-59{
  padding:0
}
.u-section-2 .u-btn-59{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-60{
  padding:0
}
.u-section-2 .u-btn-60{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-61{
  padding:0
}
.u-section-2 .u-btn-61{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-62{
  padding:0
}
.u-section-2 .u-btn-62{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-63{
  padding:0
}
.u-section-2 .u-btn-63{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-64{
  padding:0
}
.u-section-2 .u-btn-64{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-65{
  padding:0
}
.u-section-2 .u-btn-65{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-66{
  padding:0
}
.u-section-2 .u-btn-66{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-67{
  padding:0
}
.u-section-2 .u-btn-67{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-68{
  padding:0
}
.u-section-2 .u-btn-68{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-69{
  padding:0
}
.u-section-2 .u-btn-69{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-70{
  padding:0
}
.u-section-2 .u-btn-70{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-71{
  padding:0
}
.u-section-2 .u-btn-71{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-line-5{
  height:3px;
  transform-origin:left center 0;
  border-style:dashed;
  margin-top:64px;
  margin-bottom:0
}
.u-section-2 .u-text-6{
  margin:35px auto 0
}
.u-section-2 .u-list-6{
  margin-top:35px;
  margin-bottom:0;
  width:1140px
}
.u-section-2 .u-repeater-6{
  min-height:389px;
  grid-template-columns:calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px);
  grid-gap:31px 31px
}
.u-section-2 .u-container-layout-72{
  padding:0
}
.u-section-2 .u-btn-72{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-73{
  padding:0
}
.u-section-2 .u-btn-73{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-74{
  padding:0
}
.u-section-2 .u-btn-74{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-75{
  padding:0
}
.u-section-2 .u-btn-75{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-76{
  padding:0
}
.u-section-2 .u-btn-76{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-77{
  padding:0
}
.u-section-2 .u-btn-77{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-78{
  padding:0
}
.u-section-2 .u-btn-78{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-79{
  padding:0
}
.u-section-2 .u-btn-79{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-80{
  padding:0
}
.u-section-2 .u-btn-80{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-81{
  padding:0
}
.u-section-2 .u-btn-81{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-82{
  padding:0
}
.u-section-2 .u-btn-82{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-83{
  padding:0
}
.u-section-2 .u-btn-83{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-84{
  padding:0
}
.u-section-2 .u-btn-84{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-85{
  padding:0
}
.u-section-2 .u-btn-85{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-86{
  padding:0
}
.u-section-2 .u-btn-86{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-87{
  padding:0
}
.u-section-2 .u-btn-87{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-line-6{
  height:3px;
  transform-origin:left center 0;
  border-style:dashed;
  margin-top:64px;
  margin-bottom:0
}
.u-section-2 .u-text-7{
  margin:35px auto 0 0
}
.u-section-2 .u-list-7{
  margin-left:0;
  margin-top:35px;
  margin-bottom:0;
  width:1140px
}
.u-section-2 .u-repeater-7{
  min-height:284px;
  grid-template-columns:calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px);
  grid-gap:31px 31px
}
.u-section-2 .u-container-layout-88{
  padding:0
}
.u-section-2 .u-btn-88{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-89{
  padding:0
}
.u-section-2 .u-btn-89{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-90{
  padding:0
}
.u-section-2 .u-btn-90{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-91{
  padding:0
}
.u-section-2 .u-btn-91{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-92{
  padding:0
}
.u-section-2 .u-btn-92{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-93{
  padding:0
}
.u-section-2 .u-btn-93{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-94{
  padding:0
}
.u-section-2 .u-btn-94{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-95{
  padding:0
}
.u-section-2 .u-btn-95{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-96{
  padding:0
}
.u-section-2 .u-btn-96{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-97{
  padding:0
}
.u-section-2 .u-btn-97{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-98{
  padding:0
}
.u-section-2 .u-btn-98{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-99{
  padding:0
}
.u-section-2 .u-btn-99{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-container-layout-100{
  padding:0
}
.u-section-2 .u-btn-100{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  margin:0 auto;
  padding:0
}
.u-section-2 .u-line-7{
  height:3px;
  transform-origin:left center 0;
  border-style:dashed;
  margin-top:64px;
  margin-bottom:0
}
.u-section-2 .u-text-8{
  margin:35px auto 0 0
}
.u-section-2 .u-list-8{
  width:671px;
  margin:35px auto 0 0
}
.u-section-2 .u-repeater-8{
  min-height:74px;
  grid-template-columns:calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px);
  grid-gap:31px 31px
}
.u-section-2 .u-container-layout-101{
  padding:0
}
.u-section-2 .u-btn-101{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-102{
  padding:0
}
.u-section-2 .u-btn-102{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-103{
  padding:0
}
.u-section-2 .u-btn-103{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-line-8{
  height:3px;
  transform-origin:left center 0;
  border-style:dashed;
  margin-top:64px;
  margin-bottom:0
}
.u-section-2 .u-text-9{
  margin:35px auto 0 0
}
.u-section-2 .u-list-9{
  margin-left:0;
  margin-top:35px;
  margin-bottom:35px;
  width:1140px
}
.u-section-2 .u-repeater-9{
  min-height:74px;
  grid-template-columns:calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px) calc(20% - 24.8px);
  grid-gap:31px 31px
}
.u-section-2 .u-container-layout-104{
  padding:0
}
.u-section-2 .u-btn-104{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-105{
  padding:0
}
.u-section-2 .u-btn-105{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-106{
  padding:0
}
.u-section-2 .u-btn-106{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-107{
  padding:0
}
.u-section-2 .u-btn-107{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
.u-section-2 .u-container-layout-108{
  padding:0
}
.u-section-2 .u-btn-108{
  border-style:none none solid;
  font-weight:700;
  font-size:1rem;
  padding:0
}
@media (max-width:1199px){
  .u-section-2 .u-sheet-1{
      min-height:3598px
  }
  .u-section-2 .u-list-1{
      width:940px
  }
  .u-section-2 .u-repeater-1{
      min-height:161px
  }
  .u-section-2 .u-list-2{
      width:940px
  }
  .u-section-2 .u-repeater-2{
      min-height:641px
  }
  .u-section-2 .u-list-3{
      width:940px
  }
  .u-section-2 .u-repeater-3{
      min-height:257px
  }
  .u-section-2 .u-list-4{
      width:550px
  }
  .u-section-2 .u-repeater-4{
      min-height:65px
  }
  .u-section-2 .u-list-5{
      width:940px
  }
  .u-section-2 .u-repeater-5{
      min-height:257px
  }
  .u-section-2 .u-list-6{
      width:940px
  }
  .u-section-2 .u-repeater-6{
      min-height:353px
  }
  .u-section-2 .u-list-7{
      width:940px
  }
  .u-section-2 .u-repeater-7{
      min-height:257px
  }
  .u-section-2 .u-list-8{
      width:550px
  }
  .u-section-2 .u-repeater-8{
      min-height:65px
  }
  .u-section-2 .u-list-9{
      width:940px
  }
  .u-section-2 .u-repeater-9{
      min-height:65px
  }
}
@media (max-width:991px){
  .u-section-2 .u-sheet-1{
      min-height:4996px
  }
  .u-section-2 .u-menu-1{
      width:auto;
      margin-top:-35px;
      margin-right:0
  }
  .u-section-2 .u-list-1{
      margin-top:33px;
      width:720px
  }
  .u-section-2 .u-repeater-1{
      grid-template-columns:calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px);
      min-height:353px
  }
  .u-section-2 .u-list-2{
      width:720px
  }
  .u-section-2 .u-repeater-2{
      grid-template-columns:calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px);
      min-height:1025px
  }
  .u-section-2 .u-list-3{
      width:720px
  }
  .u-section-2 .u-repeater-3{
      min-height:353px;
      grid-template-columns:calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px)
  }
  .u-section-2 .u-list-4{
      width:720px
  }
  .u-section-2 .u-list-5{
      width:720px
  }
  .u-section-2 .u-repeater-5{
      min-height:449px;
      grid-template-columns:calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px)
  }
  .u-section-2 .u-list-6{
      width:720px
  }
  .u-section-2 .u-repeater-6{
      min-height:545px;
      grid-template-columns:calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px)
  }
  .u-section-2 .u-list-7{
      width:720px
  }
  .u-section-2 .u-repeater-7{
      min-height:449px;
      grid-template-columns:calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px)
  }
  .u-section-2 .u-list-8{
      width:720px
  }
  .u-section-2 .u-list-9{
      width:720px
  }
  .u-section-2 .u-repeater-9{
      min-height:161px;
      grid-template-columns:calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px)
  }
}
@media (max-width:767px){
  .u-section-2 .u-list-1{
      width:540px
  }
  .u-section-2 .u-repeater-1{
      grid-template-columns:calc(50% - 12.5px) calc(50% - 12.5px);
      grid-gap:25px 25px;
      min-height:375px
  }
  .u-section-2 .u-list-2{
      width:540px
  }
  .u-section-2 .u-repeater-2{
      grid-template-columns:calc(50% - 12.5px) calc(50% - 12.5px);
      grid-gap:25px 25px;
      min-height:1335px
  }
  .u-section-2 .u-list-3{
      width:540px
  }
  .u-section-2 .u-repeater-3{
      min-height:455px;
      grid-template-columns:calc(50% - 12.5px) calc(50% - 12.5px);
      grid-gap:25px 25px
  }
  .u-section-2 .u-list-4{
      width:540px
  }
  .u-section-2 .u-repeater-4{
      min-height:135px;
      grid-template-columns:calc(50% - 12.5px) calc(50% - 12.5px);
      grid-gap:25px 25px
  }
  .u-section-2 .u-list-5{
      width:540px
  }
  .u-section-2 .u-repeater-5{
      min-height:535px;
      grid-template-columns:calc(50% - 12.5px) calc(50% - 12.5px);
      grid-gap:25px 25px
  }
  .u-section-2 .u-list-6{
      width:540px
  }
  .u-section-2 .u-repeater-6{
      min-height:615px;
      grid-template-columns:calc(50% - 12.5px) calc(50% - 12.5px);
      grid-gap:25px 25px
  }
  .u-section-2 .u-list-7{
      width:540px
  }
  .u-section-2 .u-repeater-7{
      min-height:535px;
      grid-template-columns:calc(50% - 12.5px) calc(50% - 12.5px);
      grid-gap:25px 25px
  }
  .u-section-2 .u-list-8{
      width:540px
  }
  .u-section-2 .u-repeater-8{
      min-height:135px;
      grid-template-columns:calc(50% - 12.5px) calc(50% - 12.5px);
      grid-gap:25px 25px
  }
  .u-section-2 .u-list-9{
      width:540px
  }
  .u-section-2 .u-repeater-9{
      min-height:215px;
      grid-template-columns:calc(50% - 12.5px) calc(50% - 12.5px);
      grid-gap:25px 25px
  }
}
@media (max-width:575px){
  .u-section-2 .u-sheet-1{
      min-height:3580px
  }
  .u-section-2 .u-menu-1{
      margin-top:-29px
  }
  .u-section-2 .u-list-1{
      margin-top:26px;
      width:340px
  }
  .u-section-2 .u-repeater-1{
      grid-template-columns:calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
      grid-gap:15px 15px;
      min-height:221px
  }
  .u-section-2 .u-btn-1{
      font-size:.75rem
  }
  .u-section-2 .u-btn-2{
      font-size:.75rem
  }
  .u-section-2 .u-btn-3{
      font-size:.75rem
  }
  .u-section-2 .u-btn-4{
      font-size:.75rem
  }
  .u-section-2 .u-btn-5{
      font-size:.75rem
  }
  .u-section-2 .u-btn-6{
      font-size:.75rem
  }
  .u-section-2 .u-btn-7{
      font-size:.75rem
  }
  .u-section-2 .u-btn-8{
      font-size:.75rem
  }
  .u-section-2 .u-btn-9{
      font-size:.75rem
  }
  .u-section-2 .u-btn-10{
      font-size:.75rem
  }
  .u-section-2 .u-list-2{
      width:340px
  }
  .u-section-2 .u-repeater-2{
      grid-template-columns:calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
      grid-gap:15px 15px;
      min-height:634px
  }
  .u-section-2 .u-btn-11{
      font-size:.75rem
  }
  .u-section-2 .u-btn-12{
      font-size:.75rem
  }
  .u-section-2 .u-btn-13{
      font-size:.75rem
  }
  .u-section-2 .u-btn-14{
      font-size:.75rem
  }
  .u-section-2 .u-btn-15{
      font-size:.75rem
  }
  .u-section-2 .u-btn-16{
      font-size:.75rem
  }
  .u-section-2 .u-btn-17{
      font-size:.75rem
  }
  .u-section-2 .u-btn-18{
      font-size:.75rem
  }
  .u-section-2 .u-btn-19{
      font-size:.75rem
  }
  .u-section-2 .u-btn-20{
      font-size:.75rem
  }
  .u-section-2 .u-btn-21{
      font-size:.75rem
  }
  .u-section-2 .u-btn-22{
      font-size:.75rem
  }
  .u-section-2 .u-btn-23{
      font-size:.75rem
  }
  .u-section-2 .u-btn-24{
      font-size:.75rem
  }
  .u-section-2 .u-btn-25{
      font-size:.75rem
  }
  .u-section-2 .u-btn-26{
      font-size:.75rem
  }
  .u-section-2 .u-btn-27{
      font-size:.75rem
  }
  .u-section-2 .u-btn-28{
      font-size:.75rem
  }
  .u-section-2 .u-btn-29{
      font-size:.75rem
  }
  .u-section-2 .u-btn-30{
      font-size:.75rem
  }
  .u-section-2 .u-btn-31{
      font-size:.75rem
  }
  .u-section-2 .u-btn-32{
      font-size:.75rem
  }
  .u-section-2 .u-btn-33{
      font-size:.75rem
  }
  .u-section-2 .u-btn-34{
      font-size:.75rem
  }
  .u-section-2 .u-btn-35{
      font-size:.75rem
  }
  .u-section-2 .u-btn-36{
      font-size:.75rem
  }
  .u-section-2 .u-btn-37{
      font-size:.75rem
  }
  .u-section-2 .u-btn-38{
      font-size:.75rem
  }
  .u-section-2 .u-btn-39{
      font-size:.75rem
  }
  .u-section-2 .u-btn-40{
      font-size:.75rem
  }
  .u-section-2 .u-btn-41{
      font-size:.75rem
  }
  .u-section-2 .u-btn-42{
      font-size:.75rem
  }
  .u-section-2 .u-btn-43{
      font-size:.75rem
  }
  .u-section-2 .u-list-3{
      width:340px
  }
  .u-section-2 .u-repeater-3{
      min-height:221px;
      grid-template-columns:calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
      grid-gap:15px 15px
  }
  .u-section-2 .u-btn-44{
      font-size:.75rem
  }
  .u-section-2 .u-btn-45{
      font-size:.75rem
  }
  .u-section-2 .u-btn-46{
      font-size:.75rem
  }
  .u-section-2 .u-btn-47{
      font-size:.75rem
  }
  .u-section-2 .u-btn-48{
      font-size:.75rem
  }
  .u-section-2 .u-btn-49{
      font-size:.75rem
  }
  .u-section-2 .u-btn-50{
      font-size:.75rem
  }
  .u-section-2 .u-btn-51{
      font-size:.75rem
  }
  .u-section-2 .u-btn-52{
      font-size:.75rem
  }
  .u-section-2 .u-btn-53{
      font-size:.75rem
  }
  .u-section-2 .u-btn-54{
      font-size:.75rem
  }
  .u-section-2 .u-btn-55{
      font-size:.75rem
  }
  .u-section-2 .u-list-4{
      width:340px
  }
  .u-section-2 .u-repeater-4{
      min-height:44px;
      grid-template-columns:calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
      grid-gap:15px 15px
  }
  .u-section-2 .u-btn-56{
      font-size:.75rem
  }
  .u-section-2 .u-btn-57{
      font-size:.75rem
  }
  .u-section-2 .u-btn-58{
      font-size:.75rem
  }
  .u-section-2 .u-list-5{
      width:340px
  }
  .u-section-2 .u-repeater-5{
      min-height:280px;
      grid-template-columns:calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
      grid-gap:15px 15px
  }
  .u-section-2 .u-btn-59{
      font-size:.75rem
  }
  .u-section-2 .u-btn-60{
      font-size:.75rem
  }
  .u-section-2 .u-btn-61{
      font-size:.75rem
  }
  .u-section-2 .u-btn-62{
      font-size:.75rem
  }
  .u-section-2 .u-btn-63{
      font-size:.75rem
  }
  .u-section-2 .u-btn-64{
      font-size:.75rem
  }
  .u-section-2 .u-btn-65{
      font-size:.75rem
  }
  .u-section-2 .u-btn-66{
      font-size:.75rem
  }
  .u-section-2 .u-btn-67{
      font-size:.75rem
  }
  .u-section-2 .u-btn-68{
      font-size:.75rem
  }
  .u-section-2 .u-btn-69{
      font-size:.75rem
  }
  .u-section-2 .u-btn-70{
      font-size:.75rem
  }
  .u-section-2 .u-btn-71{
      font-size:.75rem
  }
  .u-section-2 .u-list-6{
      width:340px
  }
  .u-section-2 .u-repeater-6{
      min-height:339px;
      grid-template-columns:calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
      grid-gap:15px 15px
  }
  .u-section-2 .u-btn-72{
      font-size:.75rem
  }
  .u-section-2 .u-btn-73{
      font-size:.75rem
  }
  .u-section-2 .u-btn-74{
      font-size:.75rem
  }
  .u-section-2 .u-btn-75{
      font-size:.75rem
  }
  .u-section-2 .u-btn-76{
      font-size:.75rem
  }
  .u-section-2 .u-btn-77{
      font-size:.75rem
  }
  .u-section-2 .u-btn-78{
      font-size:.75rem
  }
  .u-section-2 .u-btn-79{
      font-size:.75rem
  }
  .u-section-2 .u-btn-80{
      font-size:.75rem
  }
  .u-section-2 .u-btn-81{
      font-size:.75rem
  }
  .u-section-2 .u-btn-82{
      font-size:.75rem
  }
  .u-section-2 .u-btn-83{
      font-size:.75rem
  }
  .u-section-2 .u-btn-84{
      font-size:.75rem
  }
  .u-section-2 .u-btn-85{
      font-size:.75rem
  }
  .u-section-2 .u-btn-86{
      font-size:.75rem
  }
  .u-section-2 .u-btn-87{
      font-size:.75rem
  }
  .u-section-2 .u-list-7{
      width:340px
  }
  .u-section-2 .u-repeater-7{
      min-height:280px;
      grid-template-columns:calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
      grid-gap:15px 15px
  }
  .u-section-2 .u-btn-88{
      font-size:.75rem
  }
  .u-section-2 .u-btn-89{
      font-size:.75rem
  }
  .u-section-2 .u-btn-90{
      font-size:.75rem
  }
  .u-section-2 .u-btn-91{
      font-size:.75rem
  }
  .u-section-2 .u-btn-92{
      font-size:.75rem
  }
  .u-section-2 .u-btn-93{
      font-size:.75rem
  }
  .u-section-2 .u-btn-94{
      font-size:.75rem
  }
  .u-section-2 .u-btn-95{
      font-size:.75rem
  }
  .u-section-2 .u-btn-96{
      font-size:.75rem
  }
  .u-section-2 .u-btn-97{
      font-size:.75rem
  }
  .u-section-2 .u-btn-98{
      font-size:.75rem
  }
  .u-section-2 .u-btn-99{
      font-size:.75rem
  }
  .u-section-2 .u-btn-100{
      font-size:.75rem
  }
  .u-section-2 .u-list-8{
      width:340px
  }
  .u-section-2 .u-repeater-8{
      min-height:44px;
      grid-template-columns:calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
      grid-gap:15px 15px
  }
  .u-section-2 .u-btn-101{
      font-size:.75rem
  }
  .u-section-2 .u-btn-102{
      font-size:.75rem
  }
  .u-section-2 .u-btn-103{
      font-size:.75rem
  }
  .u-section-2 .u-list-9{
      width:340px
  }
  .u-section-2 .u-repeater-9{
      min-height:103px;
      grid-template-columns:calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
      grid-gap:15px 15px
  }
  .u-section-2 .u-btn-104{
      font-size:.75rem
  }
  .u-section-2 .u-btn-105{
      font-size:.75rem
  }
  .u-section-2 .u-btn-106{
      font-size:.75rem
  }
  .u-section-2 .u-btn-107{
      font-size:.75rem
  }
  .u-section-2 .u-btn-108{
      font-size:.75rem
  }
}
.html-3d-model{
  width:542px;
  height:719px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0
}
@media (max-width:991px){
  .html-3d-model{
      width:419px;
      height:576px
  }
}
@media (max-width:767px){
  .html-3d-model{
      width:273px;
      height:350px
  }
}
@media (max-width:575px){
  .html-3d-model{
      width:273px;
      height:350px
  }
}