:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 10px 0;
  justify-content: center;
}


.btn-answer {
  --hue: var(--hue-neutral);
  padding: 10px 10px;
  color: white;
  outline: none;
  background-color: #1fc3db;
  border: 1px solid white;
  border-radius: 50px;
  width: 330px;
}

.btn-answer:hover {
  border-color: black;
}

.btn-answer.correct {
  --hue: var(--hue-correct);
  color: rgb(13, 255, 0);
}

.btn-answer.wrong {
  --hue: var(--hue-wrong);
  color: rgb(255, 0, 0);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 36px!important;
  border: 0px solid green;
  border-radius: 17px;
  background: linear-gradient(to bottom right, #0575E6, #00F260);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.hide {
  display: none;
}
#question{
  text-align: center;
  font-size: 2em;
  font-family: 'Oswald';
}
@media (max-width: 767px){
  .btn-answer{
    width:250px;
  }
}
@media (max-width: 575px){
  .btn-answer{
    width:160px;
  }
}