* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'WiGuru';
    src: url('../FONTS/wiguru.ttf');
}

/* ====== HTML TAGS PAGE (GRID) ======= */

.html-main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.html-main .wrapper {
    width: 100%;
    max-width: 1140px;
}

.html-main .model {
    width: 100%;
    height: 719px; /* copied from codenyx.am */
    background: url('../IMAGES/oooscillate.svg');
    background-size: cover;
}

.html-main .wrapper .tags {
    width: 100%;
}

.html-main .wrapper .tags .tag-type {
    display: flex;
    flex-direction: column;
    border-bottom: 5px dashed black;
    padding: 20px 0px;
}

.html-main .wrapper .tags .tag-type.last {
    border: 0;
}

.html-main .wrapper .tags .tag-type h1 {
    font-family: 'WiGuru';
    font-weight: 300;
    font-size: 36px;
}

.html-main .wrapper .tags .tag-type .tag-grid {
    display: grid;
    width: 100%;
    row-gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding: 40px 0px;
}

.html-main .wrapper .tags .tag-type .tag-grid a {
    border: 1px solid black;
    border-radius: 50px;
    padding: 25px;
    aspect-ratio: 1/0.3;
    display: block;
    max-width: 200px !important;
    width: 100%;
    text-align: center;
    color: #247dd0;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 700;
}

/* ======== HTML TAG PAGE ========= */
.showtag {
    display: flex;
    justify-content: center;
}

.showtag .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1140px;
}

.showtag .wrapper .tag-button {
    width: 200px;
    max-width: 200px;
    border-radius: 10px;
    border: 0;
    background: #4169e1;
    height: 55px;
}

.showtag .wrapper h3 {
    font-size: 1.875rem;
    font-weight: 400;
}

.showtag .wrapper hr {
    height: 6px;
    border-top: 4px solid gray;
    border-bottom: 4px solid gray;
    border-left: 0;
    border-right: 0;
}

/* ======== MEDIA (SCREEN SIZES) for HTML GRID ========= */